.patientmenu{
  display: flex;
  justify-content: center;
  
}
#navigationcontent{
  display: flex; 
  justify-content: center;
  color:purple;
  
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: hsl(0, 5%, 85%);
  font-weight: 600;
}