#first{
    display: flex;
}
#second{
    display: flex;
}
#third{
    display: flex;
}
.departments{
    background-color: hsl(36, 33%, 94%);
    border:0.1px solid hsl(239, 69%, 60%);
    border-radius: 10px;
    margin: 12px;
}
.departments:hover{
    background-color: bisque;
    border:0.6px solid rgb(179, 85, 85);
    border-radius: 10px;
    margin: 12px;
    cursor:grab;
}
.image{
height:15rem;
width: 15rem;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.text{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
}